In [1]:
import os
os.environ["CUDA_VISIBLE_DEVICES"]="-1"

import warnings
warnings.filterwarnings('ignore')

import matplotlib.pyplot as plt
import plotly.express as px
plt.style.use('fivethirtyeight')

from sklearn.preprocessing import MinMaxScaler 

import tensorflow as tf

import numpy as np
import pandas as pd
import math

from sklearn.metrics import mean_squared_error as mse
from keras.losses import MeanAbsolutePercentageError

from keras.initializers import RandomUniform

# Hide GPU from visible devices
tf.config.set_visible_devices([], 'GPU')

In [6]:
df = pd.read_csv('../data/data_amox.csv')

df.head()

        Month  Use_Amoxicillin
0  2015-01-01             5935
1  2015-02-01             6835
2  2015-03-01             7481
3  2015-04-01             6354
4  2015-05-01             6006

In [7]:
df['Month'] = pd.to_datetime(df['Month']).dt.date
df.head()

        Month  Use_Amoxicillin
0  2015-01-01             5935
1  2015-02-01             6835
2  2015-03-01             7481
3  2015-04-01             6354
4  2015-05-01             6006

In [8]:
df['Month'] = pd.to_datetime(df['Month']).dt.to_period('M')
df.head()

     Month  Use_Amoxicillin
0  2015-01             5935
1  2015-02             6835
2  2015-03             7481
3  2015-04             6354
4  2015-05             6006

In [9]:
df.set_index('Month', inplace=True)
df.head()

         Use_Amoxicillin
Month
2015-01             5935
2015-02             6835
2015-03             7481
2015-04             6354
2015-05             6006

In [10]:
df = df.values

scaler = MinMaxScaler(feature_range=(0, 1))
df = scaler.fit_transform(df)
df

array([[0.2560154 ],
       [0.68912416],
       [1.        ],
       [0.45765159],
       [0.29018287],
       [0.67420597],
       [0.57603465],
       [0.16217517],
       [0.21029836],
       [0.26034649],
       [0.        ],
       [0.46631376],
       [0.48508181],
       [0.32820019],
       [0.2560154 ],
       [0.29018287],
       [0.35129933],
       [0.98315688],
       [0.00240616],
       [0.73965351],
       [0.20981713],
       [0.2574591 ],
       [0.51973051],
       [0.40712223],
       [0.73724735],
       [0.25360924],
       [0.46342637],
       [0.00529355],
       [0.28873917],
       [0.18094321],
       [0.37102984],
       [0.36669875],
       [0.79836381],
       [0.97256978],
       [0.42877767],
       [0.28873917],
       [0.00288739],
       [0.25360924],
       [0.4201155 ],
       [0.80413859],
       [0.39076035],
       [0.33012512],
       [0.77333975],
       [0.63282002],
       [0.34167469],
       [0.47305101],
       [0.97641963],
       [0.28825794],
       [0.4773821 ],
       [0.56256015],
       [0.6294514 ],
       [0.78103946],
       [0.80461983],
       [0.70163619],
       [0.97064485],
       [0.50048123],
       [0.00384986],
       [0.50048123],
       [0.76900866],
       [0.79018287],
       [0.34119346],
       [0.81568816],
       [0.30317613],
       [0.50336862],
       [0.37728585],
       [0.23628489],
       [0.00769971],
       [0.48604427],
       [0.97208855],
       [0.55197305],
       [0.49470645],
       [0.66073147],
       [0.57795958],
       [0.24639076],
       [0.28681424],
       [0.33349374],
       [0.52165544],
       [0.43888354],
       [0.41337825],
       [0.78970164],
       [0.4879692 ],
       [0.45524543],
       [0.42877767],
       [0.45668912]])

In [11]:
train_size = int(len(df) * 0.8)
test_size = (len(df)) - train_size
print(train_size, test_size)

train , test = df[0:train_size,:] , df[train_size:len(df),:]

67 17

In [12]:
def to_sequences(df, seq_size):
    x = []
    y = []

    for i in range(len(df)-seq_size):
        window = df[i:(i+seq_size), 0]
        x.append(window)
        y.append(df[i+seq_size, 0])

    return np.array(x), np.array(y)

seq_size = 5

trainX, trainY = to_sequences(train, seq_size)
testX, testY = to_sequences(test, seq_size)

print("Shape of training set: {}".format(trainX.shape))
print("Shape of testinf set: {}".format(testX.shape))

Shape of training set: (62, 5)
Shape of testinf set: (12, 5)

In [13]:
mape = MeanAbsolutePercentageError()

### Model 7 - 2

In [14]:
model13 = tf.keras.models.Sequential([
    tf.keras.layers.Dense(12, input_dim=seq_size,
                          kernel_initializer=RandomUniform(minval=-1, maxval=1), bias_initializer=RandomUniform(minval=-1, maxval=1)),
    tf.keras.layers.Dense(6, activation='sigmoid',
                          kernel_initializer=RandomUniform(minval=-1, maxval=1), bias_initializer=RandomUniform(minval=-1, maxval=1)),
    tf.keras.layers.Dense(1, activation='sigmoid',
                          kernel_initializer=RandomUniform(minval=-1, maxval=1), bias_initializer=RandomUniform(minval=-1, maxval=1))
])

model13.compile(loss='mse',
               optimizer=tf.keras.optimizers.Adam(0.01),
               metrics=[tf.keras.metrics.MeanAbsoluteError()])

model13.fit(trainX, trainY, validation_data=(
    testX, testY), verbose=0, epochs=50, batch_size=8)

model13.evaluate(testX, testY)

trainPredict13 = model13.predict(trainX)
testPredict13 = model13.predict(testX)

trainPredict13 = scaler.inverse_transform(trainPredict13)
trainY_inverse = scaler.inverse_transform([trainY])
testPredict13 = scaler.inverse_transform(testPredict13)
testY_inverse = scaler.inverse_transform([testY])

print('Model 13')

trainScore13 = math.sqrt(mse(trainY_inverse[0], trainPredict13[:,0]))
print('Train score: %.2f' % (trainScore13))

testScore13 = math.sqrt(mse(testY_inverse[0], testPredict13[:,0]))
print('Test score: %.2f' % (testScore13))

mapeTrain13 = mape(trainY_inverse, trainPredict13)
print('MAPE Train: ', mapeTrain13.numpy())
print('Akurasi Train: ', 100 - (mapeTrain13.numpy()))

mape13 = mape(testY_inverse, testPredict13)
print('MAPE Test: ', mape13.numpy())
print('Akurasi Test: ', 100 - (mape13.numpy()))

1/1 [==============================] - 0s 32ms/step - loss: 0.0169 - mean_absolute_error: 0.0857
2/2 [==============================] - 0s 3ms/step
1/1 [==============================] - 0s 32ms/step
Model 13
Train score: 532.38
Test score: 270.48
MAPE Train:  7.204191
Akurasi Train:  92.79580879211426
MAPE Test:  3.2287388
Akurasi Test:  96.77126121520996

### Model 7 - 3

In [15]:
model13 = tf.keras.models.Sequential([
    tf.keras.layers.Dense(12, input_dim=seq_size,
                          kernel_initializer=RandomUniform(minval=-1, maxval=1), bias_initializer=RandomUniform(minval=-1, maxval=1)),
    tf.keras.layers.Dense(6, activation='sigmoid',
                          kernel_initializer=RandomUniform(minval=-1, maxval=1), bias_initializer=RandomUniform(minval=-1, maxval=1)),
    tf.keras.layers.Dense(1, activation='sigmoid',
                          kernel_initializer=RandomUniform(minval=-1, maxval=1), bias_initializer=RandomUniform(minval=-1, maxval=1))
])

model13.compile(loss='mse',
               optimizer=tf.keras.optimizers.Adam(0.01),
               metrics=[tf.keras.metrics.MeanAbsoluteError()])

model13.fit(trainX, trainY, validation_data=(
    testX, testY), verbose=0, epochs=50, batch_size=8)

model13.evaluate(testX, testY)

trainPredict13 = model13.predict(trainX)
testPredict13 = model13.predict(testX)

trainPredict13 = scaler.inverse_transform(trainPredict13)
trainY_inverse = scaler.inverse_transform([trainY])
testPredict13 = scaler.inverse_transform(testPredict13)
testY_inverse = scaler.inverse_transform([testY])

print('Model 13')

trainScore13 = math.sqrt(mse(trainY_inverse[0], trainPredict13[:,0]))
print('Train score: %.2f' % (trainScore13))

testScore13 = math.sqrt(mse(testY_inverse[0], testPredict13[:,0]))
print('Test score: %.2f' % (testScore13))

mapeTrain13 = mape(trainY_inverse, trainPredict13)
print('MAPE Train: ', mapeTrain13.numpy())
print('Akurasi Train: ', 100 - (mapeTrain13.numpy()))

mape13 = mape(testY_inverse, testPredict13)
print('MAPE Test: ', mape13.numpy())
print('Akurasi Test: ', 100 - (mape13.numpy()))

1/1 [==============================] - 0s 27ms/step - loss: 0.0142 - mean_absolute_error: 0.0837
2/2 [==============================] - 0s 3ms/step
1/1 [==============================] - 0s 23ms/step
Model 13
Train score: 528.24
Test score: 247.39
MAPE Train:  7.233894
Akurasi Train:  92.76610612869263
MAPE Test:  3.5238836
Akurasi Test:  96.4761164188385

### Model 7 - 4

In [16]:
model13 = tf.keras.models.Sequential([
    tf.keras.layers.Dense(12, input_dim=seq_size,
                          kernel_initializer=RandomUniform(minval=-1, maxval=1), bias_initializer=RandomUniform(minval=-1, maxval=1)),
    tf.keras.layers.Dense(6, activation='sigmoid',
                          kernel_initializer=RandomUniform(minval=-1, maxval=1), bias_initializer=RandomUniform(minval=-1, maxval=1)),
    tf.keras.layers.Dense(1, activation='sigmoid',
                          kernel_initializer=RandomUniform(minval=-1, maxval=1), bias_initializer=RandomUniform(minval=-1, maxval=1))
])

model13.compile(loss='mse',
               optimizer=tf.keras.optimizers.Adam(0.01),
               metrics=[tf.keras.metrics.MeanAbsoluteError()])

model13.fit(trainX, trainY, validation_data=(
    testX, testY), verbose=0, epochs=50, batch_size=8)

model13.evaluate(testX, testY)

trainPredict13 = model13.predict(trainX)
testPredict13 = model13.predict(testX)

trainPredict13 = scaler.inverse_transform(trainPredict13)
trainY_inverse = scaler.inverse_transform([trainY])
testPredict13 = scaler.inverse_transform(testPredict13)
testY_inverse = scaler.inverse_transform([testY])

print('Model 13')

trainScore13 = math.sqrt(mse(trainY_inverse[0], trainPredict13[:,0]))
print('Train score: %.2f' % (trainScore13))

testScore13 = math.sqrt(mse(testY_inverse[0], testPredict13[:,0]))
print('Test score: %.2f' % (testScore13))

mapeTrain13 = mape(trainY_inverse, trainPredict13)
print('MAPE Train: ', mapeTrain13.numpy())
print('Akurasi Train: ', 100 - (mapeTrain13.numpy()))

mape13 = mape(testY_inverse, testPredict13)
print('MAPE Test: ', mape13.numpy())
print('Akurasi Test: ', 100 - (mape13.numpy()))

1/1 [==============================] - 0s 26ms/step - loss: 0.0156 - mean_absolute_error: 0.0894
2/2 [==============================] - 0s 2ms/step
1/1 [==============================] - 0s 12ms/step
Model 13
Train score: 530.33
Test score: 259.85
MAPE Train:  7.2142806
Akurasi Train:  92.78571939468384
MAPE Test:  3.3600838
Akurasi Test:  96.63991618156433

### Model 7 - 5

In [17]:
model13 = tf.keras.models.Sequential([
    tf.keras.layers.Dense(12, input_dim=seq_size,
                          kernel_initializer=RandomUniform(minval=-1, maxval=1), bias_initializer=RandomUniform(minval=-1, maxval=1)),
    tf.keras.layers.Dense(6, activation='sigmoid',
                          kernel_initializer=RandomUniform(minval=-1, maxval=1), bias_initializer=RandomUniform(minval=-1, maxval=1)),
    tf.keras.layers.Dense(1, activation='sigmoid',
                          kernel_initializer=RandomUniform(minval=-1, maxval=1), bias_initializer=RandomUniform(minval=-1, maxval=1))
])

model13.compile(loss='mse',
               optimizer=tf.keras.optimizers.Adam(0.01),
               metrics=[tf.keras.metrics.MeanAbsoluteError()])

model13.fit(trainX, trainY, validation_data=(
    testX, testY), verbose=0, epochs=50, batch_size=8)

model13.evaluate(testX, testY)

trainPredict13 = model13.predict(trainX)
testPredict13 = model13.predict(testX)

trainPredict13 = scaler.inverse_transform(trainPredict13)
trainY_inverse = scaler.inverse_transform([trainY])
testPredict13 = scaler.inverse_transform(testPredict13)
testY_inverse = scaler.inverse_transform([testY])

print('Model 13')

trainScore13 = math.sqrt(mse(trainY_inverse[0], trainPredict13[:,0]))
print('Train score: %.2f' % (trainScore13))

testScore13 = math.sqrt(mse(testY_inverse[0], testPredict13[:,0]))
print('Test score: %.2f' % (testScore13))

mapeTrain13 = mape(trainY_inverse, trainPredict13)
print('MAPE Train: ', mapeTrain13.numpy())
print('Akurasi Train: ', 100 - (mapeTrain13.numpy()))

mape13 = mape(testY_inverse, testPredict13)
print('MAPE Test: ', mape13.numpy())
print('Akurasi Test: ', 100 - (mape13.numpy()))

1/1 [==============================] - 0s 28ms/step - loss: 0.0140 - mean_absolute_error: 0.0936
2/2 [==============================] - 0s 2ms/step
1/1 [==============================] - 0s 29ms/step
Model 13
Train score: 528.39
Test score: 245.88
MAPE Train:  7.2989035
Akurasi Train:  92.701096534729
MAPE Test:  3.5731823
Akurasi Test:  96.42681765556335