In [1]:
import os
os.environ["CUDA_VISIBLE_DEVICES"]="-1"

import warnings
warnings.filterwarnings('ignore')

import matplotlib.pyplot as plt
import plotly.express as px
plt.style.use('fivethirtyeight')

from sklearn.preprocessing import MinMaxScaler 

import tensorflow as tf

import numpy as np
import pandas as pd
import math

from sklearn.metrics import mean_squared_error as mse
from keras.losses import MeanAbsolutePercentageError

from keras.initializers import RandomUniform

# Hide GPU from visible devices
tf.config.set_visible_devices([], 'GPU')

In [2]:
df = pd.read_csv('../data/data_ctm.csv')

df.head()

        Month  Use_CTM
0  2015-01-01     6437
1  2015-02-01     7048
2  2015-03-01     8305
3  2015-04-01     7741
4  2015-05-01     7851

In [3]:
df['Month'] = pd.to_datetime(df['Month']).dt.date
df.head()

        Month  Use_CTM
0  2015-01-01     6437
1  2015-02-01     7048
2  2015-03-01     8305
3  2015-04-01     7741
4  2015-05-01     7851

In [4]:
df['Month'] = pd.to_datetime(df['Month']).dt.to_period('M')
df.head()

     Month  Use_CTM
0  2015-01     6437
1  2015-02     7048
2  2015-03     8305
3  2015-04     7741
4  2015-05     7851

In [5]:
df.set_index('Month', inplace=True)
df.head()

         Use_CTM
Month
2015-01     6437
2015-02     7048
2015-03     8305
2015-04     7741
2015-05     7851

In [6]:
df = df.values

scaler = MinMaxScaler(feature_range=(0, 1))
df = scaler.fit_transform(df)
df

array([[0.0248062 ],
       [0.34056848],
       [0.99018088],
       [0.69870801],
       [0.75555556],
       [0.98087855],
       [0.40775194],
       [0.40155039],
       [0.95813953],
       [0.31472868],
       [0.91731266],
       [0.7870801 ],
       [0.13850129],
       [0.88165375],
       [0.78242894],
       [0.88372093],
       [0.94470284],
       [0.90077519],
       [0.66666667],
       [0.        ],
       [0.66976744],
       [0.81498708],
       [0.57105943],
       [0.32816537],
       [0.34005168],
       [0.68320413],
       [0.73333333],
       [0.99328165],
       [0.55090439],
       [0.73333333],
       [0.55710594],
       [0.97260982],
       [0.97260982],
       [0.85219638],
       [0.10904393],
       [0.0630491 ],
       [0.9870801 ],
       [0.6625323 ],
       [0.33436693],
       [0.94521964],
       [0.28630491],
       [0.03307494],
       [0.8878553 ],
       [0.6997416 ],
       [0.29870801],
       [0.66098191],
       [1.        ],
       [0.75400517],
       [0.97777778],
       [0.5622739 ],
       [0.48423773],
       [0.01602067],
       [0.05529716],
       [0.56330749],
       [0.88475452],
       [0.68992248],
       [0.72816537],
       [0.80361757],
       [0.89612403],
       [0.89509044],
       [0.37881137],
       [0.56950904],
       [0.93333333],
       [0.91782946],
       [0.44031008],
       [0.02790698],
       [0.63875969],
       [0.85271318],
       [0.51059432],
       [0.96175711],
       [0.43565891],
       [0.86666667],
       [0.75762274],
       [0.66459948],
       [0.87958656],
       [0.31317829],
       [0.62015504],
       [0.53488372],
       [0.55555556],
       [0.88837209],
       [0.62687339],
       [0.76072351],
       [0.61860465],
       [0.57312661]])

In [7]:
train_size = int(len(df) * 0.8)
test_size = (len(df)) - train_size
print(train_size, test_size)

67 17

In [8]:
train , test = df[0:train_size,:] , df[train_size:len(df),:]

def to_sequences(df, seq_size):
    x = []
    y = []

    for i in range(len(df)-seq_size):
        window = df[i:(i+seq_size), 0]
        x.append(window)
        y.append(df[i+seq_size, 0])

    return np.array(x), np.array(y)

In [9]:
seq_size = 5

trainX, trainY = to_sequences(train, seq_size)
testX, testY = to_sequences(test, seq_size)

print("Shape of training set: {}".format(trainX.shape))
print("Shape of testinf set: {}".format(testX.shape))

mape = MeanAbsolutePercentageError()

Shape of training set: (62, 5)
Shape of testinf set: (12, 5)

### Model 3 - 2

In [10]:
model3 = tf.keras.models.Sequential([
    tf.keras.layers.Dense(12, input_dim=seq_size,
                          kernel_initializer=RandomUniform(minval=-1, maxval=1), bias_initializer=RandomUniform(minval=-1, maxval=1)),
    tf.keras.layers.Dense(10, activation='sigmoid',
                          kernel_initializer=RandomUniform(minval=-1, maxval=1), bias_initializer=RandomUniform(minval=-1, maxval=1)),
    tf.keras.layers.Dense(1, activation='sigmoid',
                          kernel_initializer=RandomUniform(minval=-1, maxval=1), bias_initializer=RandomUniform(minval=-1, maxval=1))
])

model3.compile(loss='mse',
               optimizer=tf.keras.optimizers.Adam(0.01),
               metrics=[tf.keras.metrics.MeanAbsoluteError()])

model3.fit(trainX, trainY, validation_data=(
    testX, testY), verbose=0, epochs=150, batch_size=6)

model3.evaluate(testX, testY)

trainPredict3 = model3.predict(trainX)
testPredict3 = model3.predict(testX)

trainPredict3 = scaler.inverse_transform(trainPredict3)
trainY_inverse = scaler.inverse_transform([trainY])
testPredict3 = scaler.inverse_transform(testPredict3)
testY_inverse = scaler.inverse_transform([testY])

print('Model 3')

trainScore3 = math.sqrt(mse(trainY_inverse[0], trainPredict3[:,0]))
print('Train score: %.2f' % (trainScore3))

testScore3 = math.sqrt(mse(testY_inverse[0], testPredict3[:,0]))
print('Test score: %.2f' % (testScore3))

mapeTrain3 = mape(trainY_inverse, trainPredict3)
print('MAPE Train: ', mapeTrain3.numpy())
print('Akurasi Train: ', 100 - (mapeTrain3.numpy()))

mape3 = mape(testY_inverse, testPredict3)
print('MAPE Test: ', mape3.numpy())
print('Akurasi Test: ', 100 - (mape3.numpy()))

1/1 [==============================] - 0s 120ms/step - loss: 0.0369 - mean_absolute_error: 0.1560
2/2 [==============================] - 0s 3ms/step
1/1 [==============================] - 0s 26ms/step
Model 3
Train score: 438.50
Test score: 371.81
MAPE Train:  7.3256974
Akurasi Train:  92.67430257797241
MAPE Test:  3.7919672
Akurasi Test:  96.2080328464508

### Model 3 - 3

In [11]:
model3 = tf.keras.models.Sequential([
    tf.keras.layers.Dense(12, input_dim=seq_size,
                          kernel_initializer=RandomUniform(minval=-1, maxval=1), bias_initializer=RandomUniform(minval=-1, maxval=1)),
    tf.keras.layers.Dense(10, activation='sigmoid',
                          kernel_initializer=RandomUniform(minval=-1, maxval=1), bias_initializer=RandomUniform(minval=-1, maxval=1)),
    tf.keras.layers.Dense(1, activation='sigmoid',
                          kernel_initializer=RandomUniform(minval=-1, maxval=1), bias_initializer=RandomUniform(minval=-1, maxval=1))
])

model3.compile(loss='mse',
               optimizer=tf.keras.optimizers.Adam(0.01),
               metrics=[tf.keras.metrics.MeanAbsoluteError()])

model3.fit(trainX, trainY, validation_data=(
    testX, testY), verbose=0, epochs=150, batch_size=6)

model3.evaluate(testX, testY)

trainPredict3 = model3.predict(trainX)
testPredict3 = model3.predict(testX)

trainPredict3 = scaler.inverse_transform(trainPredict3)
trainY_inverse = scaler.inverse_transform([trainY])
testPredict3 = scaler.inverse_transform(testPredict3)
testY_inverse = scaler.inverse_transform([testY])

print('Model 3')

trainScore3 = math.sqrt(mse(trainY_inverse[0], trainPredict3[:,0]))
print('Train score: %.2f' % (trainScore3))

testScore3 = math.sqrt(mse(testY_inverse[0], testPredict3[:,0]))
print('Test score: %.2f' % (testScore3))

mapeTrain3 = mape(trainY_inverse, trainPredict3)
print('MAPE Train: ', mapeTrain3.numpy())
print('Akurasi Train: ', 100 - (mapeTrain3.numpy()))

mape3 = mape(testY_inverse, testPredict3)
print('MAPE Test: ', mape3.numpy())
print('Akurasi Test: ', 100 - (mape3.numpy()))

1/1 [==============================] - 0s 178ms/step - loss: 0.0334 - mean_absolute_error: 0.1442
2/2 [==============================] - 0s 3ms/step
1/1 [==============================] - 0s 23ms/step
Model 3
Train score: 428.00
Test score: 353.52
MAPE Train:  7.370646
Akurasi Train:  92.62935400009155
MAPE Test:  3.5483143
Akurasi Test:  96.45168566703796

### Model 3 - 4

In [12]:
model3 = tf.keras.models.Sequential([
    tf.keras.layers.Dense(12, input_dim=seq_size,
                          kernel_initializer=RandomUniform(minval=-1, maxval=1), bias_initializer=RandomUniform(minval=-1, maxval=1)),
    tf.keras.layers.Dense(10, activation='sigmoid',
                          kernel_initializer=RandomUniform(minval=-1, maxval=1), bias_initializer=RandomUniform(minval=-1, maxval=1)),
    tf.keras.layers.Dense(1, activation='sigmoid',
                          kernel_initializer=RandomUniform(minval=-1, maxval=1), bias_initializer=RandomUniform(minval=-1, maxval=1))
])

model3.compile(loss='mse',
               optimizer=tf.keras.optimizers.Adam(0.01),
               metrics=[tf.keras.metrics.MeanAbsoluteError()])

model3.fit(trainX, trainY, validation_data=(
    testX, testY), verbose=0, epochs=150, batch_size=6)

model3.evaluate(testX, testY)

trainPredict3 = model3.predict(trainX)
testPredict3 = model3.predict(testX)

trainPredict3 = scaler.inverse_transform(trainPredict3)
trainY_inverse = scaler.inverse_transform([trainY])
testPredict3 = scaler.inverse_transform(testPredict3)
testY_inverse = scaler.inverse_transform([testY])

print('Model 3')

trainScore3 = math.sqrt(mse(trainY_inverse[0], trainPredict3[:,0]))
print('Train score: %.2f' % (trainScore3))

testScore3 = math.sqrt(mse(testY_inverse[0], testPredict3[:,0]))
print('Test score: %.2f' % (testScore3))

mapeTrain3 = mape(trainY_inverse, trainPredict3)
print('MAPE Train: ', mapeTrain3.numpy())
print('Akurasi Train: ', 100 - (mapeTrain3.numpy()))

mape3 = mape(testY_inverse, testPredict3)
print('MAPE Test: ', mape3.numpy())
print('Akurasi Test: ', 100 - (mape3.numpy()))

1/1 [==============================] - 0s 118ms/step - loss: 0.0587 - mean_absolute_error: 0.2029
2/2 [==============================] - 0s 3ms/step
1/1 [==============================] - 0s 21ms/step
Model 3
Train score: 419.70
Test score: 468.64
MAPE Train:  7.323443
Akurasi Train:  92.6765570640564
MAPE Test:  4.2304792
Akurasi Test:  95.76952075958252

### Model 3 - 5

In [13]:
model3 = tf.keras.models.Sequential([
    tf.keras.layers.Dense(12, input_dim=seq_size,
                          kernel_initializer=RandomUniform(minval=-1, maxval=1), bias_initializer=RandomUniform(minval=-1, maxval=1)),
    tf.keras.layers.Dense(10, activation='sigmoid',
                          kernel_initializer=RandomUniform(minval=-1, maxval=1), bias_initializer=RandomUniform(minval=-1, maxval=1)),
    tf.keras.layers.Dense(1, activation='sigmoid',
                          kernel_initializer=RandomUniform(minval=-1, maxval=1), bias_initializer=RandomUniform(minval=-1, maxval=1))
])

model3.compile(loss='mse',
               optimizer=tf.keras.optimizers.Adam(0.01),
               metrics=[tf.keras.metrics.MeanAbsoluteError()])

model3.fit(trainX, trainY, validation_data=(
    testX, testY), verbose=0, epochs=150, batch_size=6)

model3.evaluate(testX, testY)

trainPredict3 = model3.predict(trainX)
testPredict3 = model3.predict(testX)

trainPredict3 = scaler.inverse_transform(trainPredict3)
trainY_inverse = scaler.inverse_transform([trainY])
testPredict3 = scaler.inverse_transform(testPredict3)
testY_inverse = scaler.inverse_transform([testY])

print('Model 3')

trainScore3 = math.sqrt(mse(trainY_inverse[0], trainPredict3[:,0]))
print('Train score: %.2f' % (trainScore3))

testScore3 = math.sqrt(mse(testY_inverse[0], testPredict3[:,0]))
print('Test score: %.2f' % (testScore3))

mapeTrain3 = mape(trainY_inverse, trainPredict3)
print('MAPE Train: ', mapeTrain3.numpy())
print('Akurasi Train: ', 100 - (mapeTrain3.numpy()))

mape3 = mape(testY_inverse, testPredict3)
print('MAPE Test: ', mape3.numpy())
print('Akurasi Test: ', 100 - (mape3.numpy()))

1/1 [==============================] - 0s 296ms/step - loss: 0.0508 - mean_absolute_error: 0.1748
2/2 [==============================] - 0s 3ms/step
1/1 [==============================] - 0s 30ms/step
Model 3
Train score: 405.02
Test score: 436.12
MAPE Train:  7.3736463
Akurasi Train:  92.62635374069214
MAPE Test:  3.8705604
Akurasi Test:  96.12943959236145