In [1]:
import os
os.environ["CUDA_VISIBLE_DEVICES"]="-1"

import warnings
warnings.filterwarnings('ignore')

import matplotlib.pyplot as plt
import plotly.express as px
plt.style.use('fivethirtyeight')

from sklearn.preprocessing import MinMaxScaler 

import tensorflow as tf

import numpy as np
import pandas as pd
import math

from sklearn.metrics import mean_squared_error as mse
from keras.losses import MeanAbsolutePercentageError

from keras.initializers import RandomUniform

# Hide GPU from visible devices
tf.config.set_visible_devices([], 'GPU')

In [2]:
df = pd.read_csv('../data/data_para.csv')

In [3]:
df.head()

        Month  Use_Paracetamol
0  2015-01-01            12748
1  2015-02-01            13958
2  2015-03-01            12857
3  2015-04-01            13486
4  2015-05-01            13064

In [4]:
df['Month'] = pd.to_datetime(df['Month']).dt.date
df.head()

        Month  Use_Paracetamol
0  2015-01-01            12748
1  2015-02-01            13958
2  2015-03-01            12857
3  2015-04-01            13486
4  2015-05-01            13064

In [5]:
df['Month'] = pd.to_datetime(df['Month']).dt.to_period('M')
df.head()

     Month  Use_Paracetamol
0  2015-01            12748
1  2015-02            13958
2  2015-03            12857
3  2015-04            13486
4  2015-05            13064

In [6]:
df.set_index('Month', inplace=True)
df.head()

         Use_Paracetamol
Month
2015-01            12748
2015-02            13958
2015-03            12857
2015-04            13486
2015-05            13064

In [7]:
df = df.values

In [8]:
scaler = MinMaxScaler(feature_range=(0, 1))
df = scaler.fit_transform(df)
df

array([[0.28698683],
       [0.7556158 ],
       [0.32920217],
       [0.57281177],
       [0.40937258],
       [0.40240124],
       [0.17544539],
       [0.6859024 ],
       [0.32997676],
       [0.41982959],
       [0.71340046],
       [0.6506584 ],
       [0.71572424],
       [0.40317583],
       [0.41092177],
       [0.0697134 ],
       [0.41789311],
       [0.75522851],
       [0.2203718 ],
       [0.3377227 ],
       [0.03059644],
       [0.7556158 ],
       [0.54105345],
       [0.73392719],
       [0.22773044],
       [0.36831913],
       [0.63632843],
       [0.78659954],
       [0.41789311],
       [0.46398141],
       [0.78659954],
       [0.46824167],
       [0.46204493],
       [0.20991479],
       [0.18125484],
       [0.35089078],
       [0.26336174],
       [0.09953524],
       [0.75251743],
       [0.36909373],
       [0.24980635],
       [0.35553834],
       [0.56738962],
       [0.75716499],
       [0.59682417],
       [0.10883036],
       [0.77691712],
       [0.85824942],
       [0.19635941],
       [0.60883036],
       [0.59024012],
       [0.92099148],
       [1.        ],
       [0.30015492],
       [0.15414407],
       [0.01394268],
       [0.39814098],
       [0.56622773],
       [0.77691712],
       [0.8721921 ],
       [0.87606507],
       [0.61502711],
       [0.        ],
       [0.05886909],
       [0.2908598 ],
       [0.66150271],
       [0.3609605 ],
       [0.64446166],
       [0.5348567 ],
       [0.82958947],
       [0.8954299 ],
       [0.87838885],
       [0.53059644],
       [0.25716499],
       [0.47792409],
       [0.24051123],
       [0.42563904],
       [0.26219985],
       [0.87064291],
       [0.70759101],
       [0.42718823],
       [0.95778466],
       [0.48567002],
       [0.85205267]])

In [9]:
train_size = int(len(df) * 0.8)
test_size = (len(df)) - train_size
print(train_size, test_size)

67 17

In [10]:
train , test = df[0:train_size,:] , df[train_size:len(df),:]

In [11]:
def to_sequences(df, seq_size):
    x = []
    y = []

    for i in range(len(df)-seq_size):
        window = df[i:(i+seq_size), 0]
        x.append(window)
        y.append(df[i+seq_size, 0])

    return np.array(x), np.array(y)

In [12]:
seq_size = 5

trainX, trainY = to_sequences(train, seq_size)
testX, testY = to_sequences(test, seq_size)

print("Shape of training set: {}".format(trainX.shape))
print("Shape of testinf set: {}".format(testX.shape))

Shape of training set: (62, 5)
Shape of testinf set: (12, 5)

In [13]:
mape = MeanAbsolutePercentageError()

### Model 14 - 2

In [14]:
model13 = tf.keras.models.Sequential([
    tf.keras.layers.Dense(12, input_dim=seq_size,
                          kernel_initializer=RandomUniform(minval=-1, maxval=1), bias_initializer=RandomUniform(minval=-1, maxval=1)),
    tf.keras.layers.Dense(6, activation='sigmoid',
                          kernel_initializer=RandomUniform(minval=-1, maxval=1), bias_initializer=RandomUniform(minval=-1, maxval=1)),
    tf.keras.layers.Dense(1, activation='sigmoid',
                          kernel_initializer=RandomUniform(minval=-1, maxval=1), bias_initializer=RandomUniform(minval=-1, maxval=1))
])

model13.compile(loss='mse',
               optimizer=tf.keras.optimizers.Adam(0.01),
               metrics=[tf.keras.metrics.MeanAbsoluteError()])

model13.fit(trainX, trainY, validation_data=(
    testX, testY), verbose=0, epochs=100, batch_size=12)

model13.evaluate(testX, testY)

trainPredict13 = model13.predict(trainX)
testPredict13 = model13.predict(testX)

trainPredict13 = scaler.inverse_transform(trainPredict13)
trainY_inverse = scaler.inverse_transform([trainY])
testPredict13 = scaler.inverse_transform(testPredict13)
testY_inverse = scaler.inverse_transform([testY])

print('Model 13')

trainScore13 = math.sqrt(mse(trainY_inverse[0], trainPredict13[:,0]))
print('Train score: %.2f' % (trainScore13))

testScore13 = math.sqrt(mse(testY_inverse[0], testPredict13[:,0]))
print('Test score: %.2f' % (testScore13))

mapeTrain13 = mape(trainY_inverse, trainPredict13)
print('MAPE Train: ', mapeTrain13.numpy())
print('Akurasi Train: ', 100 - (mapeTrain13.numpy()))

mape13 = mape(testY_inverse, testPredict13)
print('MAPE Test: ', mape13.numpy())
print('Akurasi Test: ', 100 - (mape13.numpy()))

1/1 [==============================] - 0s 123ms/step - loss: 0.0796 - mean_absolute_error: 0.2232
2/2 [==============================] - 0s 4ms/step
1/1 [==============================] - 0s 36ms/step
Model 13
Train score: 586.43
Test score: 728.32
MAPE Train:  4.565586
Akurasi Train:  95.43441390991211
MAPE Test:  4.2599716
Akurasi Test:  95.74002838134766

### Model 14 - 3

In [15]:
model13 = tf.keras.models.Sequential([
    tf.keras.layers.Dense(12, input_dim=seq_size,
                          kernel_initializer=RandomUniform(minval=-1, maxval=1), bias_initializer=RandomUniform(minval=-1, maxval=1)),
    tf.keras.layers.Dense(6, activation='sigmoid',
                          kernel_initializer=RandomUniform(minval=-1, maxval=1), bias_initializer=RandomUniform(minval=-1, maxval=1)),
    tf.keras.layers.Dense(1, activation='sigmoid',
                          kernel_initializer=RandomUniform(minval=-1, maxval=1), bias_initializer=RandomUniform(minval=-1, maxval=1))
])

model13.compile(loss='mse',
               optimizer=tf.keras.optimizers.Adam(0.01),
               metrics=[tf.keras.metrics.MeanAbsoluteError()])

model13.fit(trainX, trainY, validation_data=(
    testX, testY), verbose=0, epochs=100, batch_size=12)

model13.evaluate(testX, testY)

trainPredict13 = model13.predict(trainX)
testPredict13 = model13.predict(testX)

trainPredict13 = scaler.inverse_transform(trainPredict13)
trainY_inverse = scaler.inverse_transform([trainY])
testPredict13 = scaler.inverse_transform(testPredict13)
testY_inverse = scaler.inverse_transform([testY])

print('Model 13')

trainScore13 = math.sqrt(mse(trainY_inverse[0], trainPredict13[:,0]))
print('Train score: %.2f' % (trainScore13))

testScore13 = math.sqrt(mse(testY_inverse[0], testPredict13[:,0]))
print('Test score: %.2f' % (testScore13))

mapeTrain13 = mape(trainY_inverse, trainPredict13)
print('MAPE Train: ', mapeTrain13.numpy())
print('Akurasi Train: ', 100 - (mapeTrain13.numpy()))

mape13 = mape(testY_inverse, testPredict13)
print('MAPE Test: ', mape13.numpy())
print('Akurasi Test: ', 100 - (mape13.numpy()))

1/1 [==============================] - 0s 122ms/step - loss: 0.0906 - mean_absolute_error: 0.2437
2/2 [==============================] - 0s 4ms/step
1/1 [==============================] - 0s 29ms/step
Model 13
Train score: 598.67
Test score: 776.99
MAPE Train:  4.5733457
Akurasi Train:  95.42665433883667
MAPE Test:  4.28385
Akurasi Test:  95.71614980697632

### Model 14 - 4

In [16]:
model13 = tf.keras.models.Sequential([
    tf.keras.layers.Dense(12, input_dim=seq_size,
                          kernel_initializer=RandomUniform(minval=-1, maxval=1), bias_initializer=RandomUniform(minval=-1, maxval=1)),
    tf.keras.layers.Dense(6, activation='sigmoid',
                          kernel_initializer=RandomUniform(minval=-1, maxval=1), bias_initializer=RandomUniform(minval=-1, maxval=1)),
    tf.keras.layers.Dense(1, activation='sigmoid',
                          kernel_initializer=RandomUniform(minval=-1, maxval=1), bias_initializer=RandomUniform(minval=-1, maxval=1))
])

model13.compile(loss='mse',
               optimizer=tf.keras.optimizers.Adam(0.01),
               metrics=[tf.keras.metrics.MeanAbsoluteError()])

model13.fit(trainX, trainY, validation_data=(
    testX, testY), verbose=0, epochs=100, batch_size=12)

model13.evaluate(testX, testY)

trainPredict13 = model13.predict(trainX)
testPredict13 = model13.predict(testX)

trainPredict13 = scaler.inverse_transform(trainPredict13)
trainY_inverse = scaler.inverse_transform([trainY])
testPredict13 = scaler.inverse_transform(testPredict13)
testY_inverse = scaler.inverse_transform([testY])

print('Model 13')

trainScore13 = math.sqrt(mse(trainY_inverse[0], trainPredict13[:,0]))
print('Train score: %.2f' % (trainScore13))

testScore13 = math.sqrt(mse(testY_inverse[0], testPredict13[:,0]))
print('Test score: %.2f' % (testScore13))

mapeTrain13 = mape(trainY_inverse, trainPredict13)
print('MAPE Train: ', mapeTrain13.numpy())
print('Akurasi Train: ', 100 - (mapeTrain13.numpy()))

mape13 = mape(testY_inverse, testPredict13)
print('MAPE Test: ', mape13.numpy())
print('Akurasi Test: ', 100 - (mape13.numpy()))

1/1 [==============================] - 0s 131ms/step - loss: 0.0865 - mean_absolute_error: 0.2437
2/2 [==============================] - 0s 4ms/step
1/1 [==============================] - 0s 30ms/step
Model 13
Train score: 587.04
Test score: 759.54
MAPE Train:  4.559694
Akurasi Train:  95.44030618667603
MAPE Test:  4.322445
Akurasi Test:  95.67755508422852

### Model 14 - 5

In [17]:
model13 = tf.keras.models.Sequential([
    tf.keras.layers.Dense(12, input_dim=seq_size,
                          kernel_initializer=RandomUniform(minval=-1, maxval=1), bias_initializer=RandomUniform(minval=-1, maxval=1)),
    tf.keras.layers.Dense(6, activation='sigmoid',
                          kernel_initializer=RandomUniform(minval=-1, maxval=1), bias_initializer=RandomUniform(minval=-1, maxval=1)),
    tf.keras.layers.Dense(1, activation='sigmoid',
                          kernel_initializer=RandomUniform(minval=-1, maxval=1), bias_initializer=RandomUniform(minval=-1, maxval=1))
])

model13.compile(loss='mse',
               optimizer=tf.keras.optimizers.Adam(0.01),
               metrics=[tf.keras.metrics.MeanAbsoluteError()])

model13.fit(trainX, trainY, validation_data=(
    testX, testY), verbose=0, epochs=100, batch_size=12)

model13.evaluate(testX, testY)

trainPredict13 = model13.predict(trainX)
testPredict13 = model13.predict(testX)

trainPredict13 = scaler.inverse_transform(trainPredict13)
trainY_inverse = scaler.inverse_transform([trainY])
testPredict13 = scaler.inverse_transform(testPredict13)
testY_inverse = scaler.inverse_transform([testY])

print('Model 13')

trainScore13 = math.sqrt(mse(trainY_inverse[0], trainPredict13[:,0]))
print('Train score: %.2f' % (trainScore13))

testScore13 = math.sqrt(mse(testY_inverse[0], testPredict13[:,0]))
print('Test score: %.2f' % (testScore13))

mapeTrain13 = mape(trainY_inverse, trainPredict13)
print('MAPE Train: ', mapeTrain13.numpy())
print('Akurasi Train: ', 100 - (mapeTrain13.numpy()))

mape13 = mape(testY_inverse, testPredict13)
print('MAPE Test: ', mape13.numpy())
print('Akurasi Test: ', 100 - (mape13.numpy()))

1/1 [==============================] - 0s 119ms/step - loss: 0.0935 - mean_absolute_error: 0.2350
2/2 [==============================] - 0s 3ms/step
1/1 [==============================] - 0s 25ms/step
Model 13
Train score: 572.24
Test score: 789.40
MAPE Train:  4.5587034
Akurasi Train:  95.44129657745361
MAPE Test:  4.34896
Akurasi Test:  95.65104007720947