In [1]:
import os
os.environ["CUDA_VISIBLE_DEVICES"]="-1"

import warnings
warnings.filterwarnings('ignore')

import matplotlib.pyplot as plt
import plotly.express as px
plt.style.use('fivethirtyeight')

from sklearn.preprocessing import MinMaxScaler 

import tensorflow as tf

import numpy as np
import pandas as pd
import math

from sklearn.metrics import mean_squared_error as mse
from keras.losses import MeanAbsolutePercentageError

from keras.initializers import RandomUniform

# Hide GPU from visible devices
tf.config.set_visible_devices([], 'GPU')

In [2]:
df = pd.read_csv('../data/data_vitb.csv')

df.head()

        Month  Use_VitBComplex
0  2015-01-01             2457
1  2015-02-01             2356
2  2015-03-01             2437
3  2015-04-01             2512
4  2015-05-01             2345

In [3]:
df['Month'] = pd.to_datetime(df['Month']).dt.date
df.head()

        Month  Use_VitBComplex
0  2015-01-01             2457
1  2015-02-01             2356
2  2015-03-01             2437
3  2015-04-01             2512
4  2015-05-01             2345

In [4]:
df['Month'] = pd.to_datetime(df['Month']).dt.to_period('M')
df.head()

     Month  Use_VitBComplex
0  2015-01             2457
1  2015-02             2356
2  2015-03             2437
3  2015-04             2512
4  2015-05             2345

In [5]:
df.set_index('Month', inplace=True)
df.head()

         Use_VitBComplex
Month
2015-01             2457
2015-02             2356
2015-03             2437
2015-04             2512
2015-05             2345

In [6]:
df = df.values

scaler = MinMaxScaler(feature_range=(0, 1))
df = scaler.fit_transform(df)
df

array([[0.44779116],
       [0.24497992],
       [0.40763052],
       [0.55823293],
       [0.22289157],
       [0.29518072],
       [0.60441767],
       [0.47188755],
       [0.84337349],
       [0.40361446],
       [0.82128514],
       [0.44578313],
       [0.23092369],
       [0.35542169],
       [0.42168675],
       [0.46385542],
       [0.8253012 ],
       [0.937751  ],
       [0.6686747 ],
       [0.2248996 ],
       [0.08835341],
       [0.26506024],
       [0.36947791],
       [0.47188755],
       [0.82128514],
       [0.39558233],
       [0.2188755 ],
       [0.41967871],
       [0.55823293],
       [0.41164659],
       [0.40562249],
       [0.35542169],
       [0.89156627],
       [0.6686747 ],
       [0.1746988 ],
       [0.41767068],
       [0.62048193],
       [0.47791165],
       [0.22891566],
       [0.66465863],
       [0.67269076],
       [0.24497992],
       [0.46787149],
       [0.39156627],
       [0.65662651],
       [0.52008032],
       [0.6626506 ],
       [0.48393574],
       [0.84939759],
       [0.17871486],
       [0.51204819],
       [0.31927711],
       [0.66465863],
       [0.2188755 ],
       [0.84337349],
       [0.22289157],
       [0.89156627],
       [0.        ],
       [0.22289157],
       [0.47590361],
       [0.6626506 ],
       [0.22289157],
       [0.84337349],
       [0.2188755 ],
       [0.39558233],
       [1.        ],
       [0.437751  ],
       [0.24899598],
       [0.44578313],
       [0.21485944],
       [0.75903614],
       [0.46787149],
       [0.81726908],
       [0.40160643],
       [0.26305221],
       [0.60240964],
       [0.43975904],
       [0.13453815],
       [0.44176707],
       [0.24497992],
       [0.60240964],
       [0.80321285],
       [0.22289157],
       [0.48995984]])

In [7]:
train_size = int(len(df) * 0.8)
test_size = (len(df)) - train_size
print(train_size, test_size)

train , test = df[0:train_size,:] , df[train_size:len(df),:]

67 17

In [8]:
def to_sequences(df, seq_size):
    x = []
    y = []

    for i in range(len(df)-seq_size):
        window = df[i:(i+seq_size), 0]
        x.append(window)
        y.append(df[i+seq_size, 0])

    return np.array(x), np.array(y)

seq_size = 5

trainX, trainY = to_sequences(train, seq_size)
testX, testY = to_sequences(test, seq_size)

print("Shape of training set: {}".format(trainX.shape))
print("Shape of testinf set: {}".format(testX.shape))

Shape of training set: (62, 5)
Shape of testinf set: (12, 5)

In [9]:
mape = MeanAbsolutePercentageError()

### Model 14 - 2

In [10]:
model14 = tf.keras.models.Sequential([
    tf.keras.layers.Dense(12, input_dim=seq_size,
                          kernel_initializer=RandomUniform(minval=-1, maxval=1), bias_initializer=RandomUniform(minval=-1, maxval=1)),
    tf.keras.layers.Dense(10, activation='sigmoid',
                          kernel_initializer=RandomUniform(minval=-1, maxval=1), bias_initializer=RandomUniform(minval=-1, maxval=1)),
    tf.keras.layers.Dense(1, activation='sigmoid',
                          kernel_initializer=RandomUniform(minval=-1, maxval=1), bias_initializer=RandomUniform(minval=-1, maxval=1))
])

model14.compile(loss='mse',
               optimizer=tf.keras.optimizers.Adam(0.01),
               metrics=[tf.keras.metrics.MeanAbsoluteError()])

model14.fit(trainX, trainY, validation_data=(
    testX, testY), verbose=0, epochs=100, batch_size=12)

model14.evaluate(testX, testY)

trainPredict14 = model14.predict(trainX)
testPredict14 = model14.predict(testX)

trainPredict14 = scaler.inverse_transform(trainPredict14)
trainY_inverse = scaler.inverse_transform([trainY])
testPredict14 = scaler.inverse_transform(testPredict14)
testY_inverse = scaler.inverse_transform([testY])

print('Model 14')

trainScore14 = math.sqrt(mse(trainY_inverse[0], trainPredict14[:,0]))
print('Train score: %.2f' % (trainScore14))

testScore14 = math.sqrt(mse(testY_inverse[0], testPredict14[:,0]))
print('Test score: %.2f' % (testScore14))

mapeTrain14 = mape(trainY_inverse, trainPredict14)
print('MAPE Train: ', mapeTrain14.numpy())
print('Akurasi Train: ', 100 - (mapeTrain14.numpy()))

mape14 = mape(testY_inverse, testPredict14)
print('MAPE Test: ', mape14.numpy())
print('Akurasi Test: ', 100 - (mape14.numpy()))

1/1 [==============================] - 0s 119ms/step - loss: 0.0495 - mean_absolute_error: 0.1917
2/2 [==============================] - 0s 3ms/step
1/1 [==============================] - 0s 31ms/step
Model 14
Train score: 106.92
Test score: 110.79
MAPE Train:  4.089162
Akurasi Train:  95.91083812713623
MAPE Test:  3.7999856
Akurasi Test:  96.20001435279846

### Model 14 - 3

In [11]:
model14 = tf.keras.models.Sequential([
    tf.keras.layers.Dense(12, input_dim=seq_size,
                          kernel_initializer=RandomUniform(minval=-1, maxval=1), bias_initializer=RandomUniform(minval=-1, maxval=1)),
    tf.keras.layers.Dense(10, activation='sigmoid',
                          kernel_initializer=RandomUniform(minval=-1, maxval=1), bias_initializer=RandomUniform(minval=-1, maxval=1)),
    tf.keras.layers.Dense(1, activation='sigmoid',
                          kernel_initializer=RandomUniform(minval=-1, maxval=1), bias_initializer=RandomUniform(minval=-1, maxval=1))
])

model14.compile(loss='mse',
               optimizer=tf.keras.optimizers.Adam(0.01),
               metrics=[tf.keras.metrics.MeanAbsoluteError()])

model14.fit(trainX, trainY, validation_data=(
    testX, testY), verbose=0, epochs=100, batch_size=12)

model14.evaluate(testX, testY)

trainPredict14 = model14.predict(trainX)
testPredict14 = model14.predict(testX)

trainPredict14 = scaler.inverse_transform(trainPredict14)
trainY_inverse = scaler.inverse_transform([trainY])
testPredict14 = scaler.inverse_transform(testPredict14)
testY_inverse = scaler.inverse_transform([testY])

print('Model 14')

trainScore14 = math.sqrt(mse(trainY_inverse[0], trainPredict14[:,0]))
print('Train score: %.2f' % (trainScore14))

testScore14 = math.sqrt(mse(testY_inverse[0], testPredict14[:,0]))
print('Test score: %.2f' % (testScore14))

mapeTrain14 = mape(trainY_inverse, trainPredict14)
print('MAPE Train: ', mapeTrain14.numpy())
print('Akurasi Train: ', 100 - (mapeTrain14.numpy()))

mape14 = mape(testY_inverse, testPredict14)
print('MAPE Test: ', mape14.numpy())
print('Akurasi Test: ', 100 - (mape14.numpy()))

1/1 [==============================] - 0s 116ms/step - loss: 0.0653 - mean_absolute_error: 0.2163
2/2 [==============================] - 0s 4ms/step
1/1 [==============================] - 0s 28ms/step
Model 14
Train score: 101.19
Test score: 127.25
MAPE Train:  4.4014187
Akurasi Train:  95.59858131408691
MAPE Test:  4.458853
Akurasi Test:  95.54114723205566

### Model 14 - 4

In [12]:
model14 = tf.keras.models.Sequential([
    tf.keras.layers.Dense(12, input_dim=seq_size,
                          kernel_initializer=RandomUniform(minval=-1, maxval=1), bias_initializer=RandomUniform(minval=-1, maxval=1)),
    tf.keras.layers.Dense(10, activation='sigmoid',
                          kernel_initializer=RandomUniform(minval=-1, maxval=1), bias_initializer=RandomUniform(minval=-1, maxval=1)),
    tf.keras.layers.Dense(1, activation='sigmoid',
                          kernel_initializer=RandomUniform(minval=-1, maxval=1), bias_initializer=RandomUniform(minval=-1, maxval=1))
])

model14.compile(loss='mse',
               optimizer=tf.keras.optimizers.Adam(0.01),
               metrics=[tf.keras.metrics.MeanAbsoluteError()])

model14.fit(trainX, trainY, validation_data=(
    testX, testY), verbose=0, epochs=100, batch_size=12)

model14.evaluate(testX, testY)

trainPredict14 = model14.predict(trainX)
testPredict14 = model14.predict(testX)

trainPredict14 = scaler.inverse_transform(trainPredict14)
trainY_inverse = scaler.inverse_transform([trainY])
testPredict14 = scaler.inverse_transform(testPredict14)
testY_inverse = scaler.inverse_transform([testY])

print('Model 14')

trainScore14 = math.sqrt(mse(trainY_inverse[0], trainPredict14[:,0]))
print('Train score: %.2f' % (trainScore14))

testScore14 = math.sqrt(mse(testY_inverse[0], testPredict14[:,0]))
print('Test score: %.2f' % (testScore14))

mapeTrain14 = mape(trainY_inverse, trainPredict14)
print('MAPE Train: ', mapeTrain14.numpy())
print('Akurasi Train: ', 100 - (mapeTrain14.numpy()))

mape14 = mape(testY_inverse, testPredict14)
print('MAPE Test: ', mape14.numpy())
print('Akurasi Test: ', 100 - (mape14.numpy()))

1/1 [==============================] - 0s 169ms/step - loss: 0.0578 - mean_absolute_error: 0.2050
2/2 [==============================] - 0s 3ms/step
1/1 [==============================] - 0s 30ms/step
Model 14
Train score: 97.72
Test score: 119.76
MAPE Train:  4.3598113
Akurasi Train:  95.64018869400024
MAPE Test:  4.1808724
Akurasi Test:  95.81912755966187

### Model 14 - 5

In [13]:
model14 = tf.keras.models.Sequential([
    tf.keras.layers.Dense(12, input_dim=seq_size,
                          kernel_initializer=RandomUniform(minval=-1, maxval=1), bias_initializer=RandomUniform(minval=-1, maxval=1)),
    tf.keras.layers.Dense(10, activation='sigmoid',
                          kernel_initializer=RandomUniform(minval=-1, maxval=1), bias_initializer=RandomUniform(minval=-1, maxval=1)),
    tf.keras.layers.Dense(1, activation='sigmoid',
                          kernel_initializer=RandomUniform(minval=-1, maxval=1), bias_initializer=RandomUniform(minval=-1, maxval=1))
])

model14.compile(loss='mse',
               optimizer=tf.keras.optimizers.Adam(0.01),
               metrics=[tf.keras.metrics.MeanAbsoluteError()])

model14.fit(trainX, trainY, validation_data=(
    testX, testY), verbose=0, epochs=100, batch_size=12)

model14.evaluate(testX, testY)

trainPredict14 = model14.predict(trainX)
testPredict14 = model14.predict(testX)

trainPredict14 = scaler.inverse_transform(trainPredict14)
trainY_inverse = scaler.inverse_transform([trainY])
testPredict14 = scaler.inverse_transform(testPredict14)
testY_inverse = scaler.inverse_transform([testY])

print('Model 14')

trainScore14 = math.sqrt(mse(trainY_inverse[0], trainPredict14[:,0]))
print('Train score: %.2f' % (trainScore14))

testScore14 = math.sqrt(mse(testY_inverse[0], testPredict14[:,0]))
print('Test score: %.2f' % (testScore14))

mapeTrain14 = mape(trainY_inverse, trainPredict14)
print('MAPE Train: ', mapeTrain14.numpy())
print('Akurasi Train: ', 100 - (mapeTrain14.numpy()))

mape14 = mape(testY_inverse, testPredict14)
print('MAPE Test: ', mape14.numpy())
print('Akurasi Test: ', 100 - (mape14.numpy()))

1/1 [==============================] - 0s 123ms/step - loss: 0.0536 - mean_absolute_error: 0.1882
2/2 [==============================] - 0s 4ms/step
1/1 [==============================] - 0s 26ms/step
Model 14
Train score: 100.22
Test score: 115.25
MAPE Train:  4.228269
Akurasi Train:  95.77173089981079
MAPE Test:  4.115603
Akurasi Test:  95.88439702987671